/*隙間の間隔をなくす*/
table{
    border-collapse: collapse;
}

h1{
    text-align: center;
}

/*マップ*/
#board{
    margin:auto;
}

/*余白をなくす*/
td{
    padding: 0px;
}
/*ブッロク要素にする*/
.chip{
    display: block;
    width: 35px;
    height: 35px;
}

/*座標*/
#info{
    display:none;
}

/*選択画面*/
#area{
    text-align: center;
}
.selectChip{
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 1px solid black;
    cursor: pointer;
}