/*隙間の間隔をなくす*/
table{
    border-collapse: collapse;
}
/*余白をなくす*/
td{
    padding: 0px;
}
/*ブッロク要素にする*/
.chip{
    display: block;
    width: 35px;
    height: 35px;
}

#info{
    display:none;
}
